body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: table;
}

body {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	background-color: #1e1e1e;
}

.sr-only {
	display: none;
}

.login input {
	border: none;
	background-color: transparent;
	color: #fff;
	font-size: 13pt;
	border-bottom: 2px solid #3e3e3e;
	display: inline-block;
	width: 70%;
	margin: 10px 0;
	padding: 10px;
	transition: 90ms border-bottom-color ease-in-out;
}

.login input:focus {
	border-bottom-color: #fff;
}

.login input[type="submit"] {
	border: 2px solid #fff;
	padding: 10px 20px;
	margin-top: 20px;
	cursor: pointer;
	border-radius: 5px;
	width: 50%;
	max-width: 320px;
	margin-top: 60px;
	transition: 90ms background-color ease-in-out,
				90ms color ease-in-out;
}

.login input[type="submit"]:hover {
	background-color: #fff;
	color: #000;
}

.logged {
	font-size: 4em;
}

.logged,
.logged a,
.record-created a {
	color: #fff;
}

.column,
.update-link,
.record-created {
	font-size: 2em;
	color: #fff;
}

.update-link,
.record-created {
	margin-bottom: 50px;
	display: inline-block;
}